
:root{
    --light-color:#EEEEEE;
    --second-color: #00ADB5;
    --bg-color:#393E46;

}

html, body {
    overflow-x: hidden;
  }
  body {
    position: relative
  }

body {
    background: url(/image/background.JPG) no-repeat;
    font-family: 'Poppins', sans-serif;
}

.navbar {
padding: 10px 10px 10px 90px;
color: var(--light-color);
}

.logo{
    position: relative;
    right: 5%;    
}

.nav-link {
    color: var(--light-color);
    margin-left: 20px !important;
    position: relative;
    font-size: 18px;
    font-weight: 500;
}
.nav-link:hover{
    color: var(--second-color);
}

.download {
    text-decoration: none;
    color: var(--second-color);
    margin-left: 50px !important;
    border: 10px solid #393E46;
    position: relative;
    background-color: #393E46;
    font-weight: 500;
    
}
.download:hover{
     color: var(--light-color);
}

.rotate{
  transform: rotate(90deg);
  transform-origin: top left;
  margin-top: 40px ;
  position: absolute;
  left: 97%;
  font-weight: 400;
  font-size: 25px;
  color: white;
  width: 30%;
}

.vl {
    border-left: 6px solid var(--second-color);
    height: 192px;
    position: absolute;
    left: 95%;
    margin-left: -3px;
    top: 40%;
}

.facebook {
    position: absolute;
    left: 94%;
    top: 73%; 
    font-size: 35px;
    color: var(--bg-color);  
}

.insta {
    position: absolute;
    left: 94%;
    top: 80%; 
    font-size: 35px;
    color: var(--bg-color);
}

.linkedin {
    position: absolute;
    left: 94%;
    top: 87%; 
    font-size: 35px;
    color: var(--bg-color);
}

 .fa-brands {
    background: white;
    color: black; 
}

.hello{
    z-index: 1;
    position: relative;
    margin-top: 2%;
}

.myphoto{
    margin-top: 44%;  
}

.name h2{
font-weight: 700;
font-size: 55px;
line-height: 76px;
}

.name-color{
    color: var(--second-color);
}

.name-white{
color: white;
}

.hr {
    width: 200px; 
    border-top: 6px solid var(--second-color);
}

.junior {
    font-size: 26px;
    font-weight: 400;
    line-height: 36px;
    color: white;
    margin-top: 20px;
}

.quote{
    color: white;
    margin-top: 90px;
    font-size: 15px;   
}

.quote-author{
    font-weight: 700;
}

.quote-text{
    margin-top: -1%;
    font-style: oblique;   
}

.myphoto {
    position: relative;
    left: 60%;
    top: 8%;
}


 

 .info-me {
    color: white;
    margin-top: 40px;
    font-size: 20px;
 }

 .portfolio-link{
    color: var(--second-color);
    text-decoration: none;
 }

 .portfolio-link:hover{
    color: var(--light-color);
 }

 .my-works{
    text-align: center;
    color: var(--light-color);
    font-size: 55px;
    line-height: 46px;
    font-weight: 700;
 }

 .border {
    border-color: var(--second-color) ;
 }
   
.hr-portfolio {
    width: 90%; 
    border-top: 6px solid var(--second-color);
    display: block;
    margin: auto;
}

.view{
    color: var(--light-color);
    font-size: 18px;
    display: block;
    margin: auto;
}

.button-view {   
    border: 2px solid #393E46;
    border-color: var(--bg-color);
    background: var(--bg-color);
    border-radius: 5px;
    padding: 4px 18px 4px 18px;
    display: block;
    margin: auto;
    text-align: center;
}
    
.button-view:hover{
    background-color: var(--second-color);
}


@media (max-width: 576px) {
        .hello {
            width: 200px;
            margin-top: 9px;
            margin-bottom: 10px;
        }
        .logo {
            
            position:relative;
            right: 24%;  
         }
         .nav-item {
            padding: 0px;
         }
         .navbar-toggler{
            position:relative;
            right: 7%;  
         }
         .name h2{
            font-size: 35px;
            line-height: 46px;
        }

        .junior {
            font-size: 18px;
            width: 80%;
        }
    
        .hr {
            width: 130px; 
        }
            
        .quote{
            font-size: 14px;
            width: 59%;
        }
    
        .fa-brands {
            display: flex;
            justify-content: space-between;
        }
    
        .myphoto {
            display: none;
        }
    
        .myphoto-about{
            width: 200px;
        }
    
        .info-me {
            font-size: 16px !important;
        }
    
        .col-contact{
            position: relative;
            width: 70%;
            top: 20%;
            left: 10% !important;  
        }
                    
        .contact-me{
            font-size: 27px !important;
        }

        .mail-call {
            font-size: 20px !important;
        }

        .link-contact{
            font-size: 14px !important;
        }
        
        .my-works {
            font-size: 25px !important;
            line-height: 26px !important;
        }
}
 

 .image-contact{
    z-index: 1;
    position: relative;
    margin-top: -28%;
    margin-left: 21%;
}

.contact-me{
    width: 377px;
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 54px;
    color: var(--light-color);
}

.contact-me:hover{
    color: var(--second-color);
}

.mail-call{
    color: var(--second-color);
    font-weight: 600;
    height:22px;
    font-size: 25px;
}

.mail-call:hover{
    color: var(--light-color);
}

.link-contact{
    text-decoration: none;
    color: var(--light-color);
    font-weight: 400;
    height: 22px;
    font-size: 15px;
}

.link-conract:visited {
    color: var(--second-color);
}

.link-contact:hover{
    color: var(--second-color) !important;
}

.col-contact{
    position: absolute;
    width: 90%;
    top: 42%;
    left: 41%;
    z-index: 1;
}





